{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>메인페이지입니다.</title>
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
</head>
<body>
    <h1>안녕하세요!!!</h1>
    <!--
    <a href="{% url 'other' %}">
        <h2>다음페이지 테스트</h2>
    </a>
    -->
    <a href="{% url 'posting' %}">
        <h2>글쓰기창</h2>
    </a>
    <h2>{{get_blog_all}}</h2>     <!-- Django templates value -->
    {% for blog in get_blog_all %}
        <h5>
            제목 : <a href="{% url 'detail' blog.id %}">{{blog.title|upper}}</a>
        </h5>
        <a href="{% url 'update' blog.id %}">글수정</a> <a href="{% url 'delete' blog.id %}">글삭제</a>
        <br>
        <br>
        내용 : {{blog.desc}}<br>
        생성일자 : {{blog.cre_date}}
        {% if blog.myimage %}
            이미지 : <img src="{{blog.myimage.url}}" style="height: 200px">
        {% endif %}
        <hr>
        <hr>
    {% endfor %}

    <br>
    <br>
    <br>
    <br>
    <br>

    <h2>{{get_blog_one.title}}</h2>

</body>
</html>